.header-container {
    background: #2E393D;
    max-width: 100%;
    height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    color: #53E7A4;
    text-align: center;
    font-family: NokiaKokia;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.header-img {
    cursor: pointer;
    user-select: none;
}