@font-face {
    font-family: NokiaKokia;
    src: url('../../../fonts/NokiaKokia(RYS BY LYAJKA).ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Gunterz;
    src: url("../../../fonts/Gunterz-Medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Srbija Sans;
    src: url("../../../fonts/Srbija Sans.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.main-container {
    margin: 5%;
    display: flex;
}

.top-text {
    color: #334850;
    text-align: center;
    font-family: NokiaKokia;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
}