.question-window {
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-text {
    color: #4E585B;
    text-align: center;
    font-family: Gunterz;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.question-input {
    border-radius: 18px;
    padding: 10px 20px;
    border: 2px solid #4E585B;
    background: #E0E0E0;
    color: #989898;
    text-align: center;
    font-family: Srbija Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
}

.teacher-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.teacher-buttons{
    display: flex;
    column-gap: 50px;
}

.count-ans__btn {
    border-radius: 20px;
    background: #4F6167;
    padding: 10px 20px;
    border: none;
    color: #64DC97;
    text-align: center;
    font-family: Gunterz;
    font-size: 26px;
    font-weight: 500;
    line-height: 170%;
    cursor: pointer;
    user-select: none;
}

.dont-count-ans__btn{
    border-radius: 20px;
    background: #CFCFCF;
    padding: 10px 20px;
    border: none;
    color: #767676;
    text-align: center;
    font-family: Gunterz;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    cursor: pointer;
    user-select: none;
}

.progress-bar {
    height: 14px;
    border-radius: 18px;
    background: #4E585B;
}

.go-answer__btn {
    border-radius: 18px;
    background: #4E585B;
    border: none;
    padding: 0 20px;
    color: #CCCDCF;
    text-align: center;
    font-family: Srbija Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
}

.teacher-text {
    color: #CCCDCF;
    text-align: center;
    font-family: Srbija Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.give-ans__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.give-answer__btn {
    border-radius: 18px;
    background: #4E585B;
    border: none;
    padding: 0 20px;
    color: #CCCDCF;
    text-align: center;
    font-family: Srbija Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
}