@import "normalize.css";

@font-face {
  font-family: NokiaKokia;
  src: url('../../fonts/NokiaKokia(RYS BY LYAJKA).ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: NokiaKokia sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}