.register__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 580px;
    border-radius: 30px;
    box-shadow: -15px -15px #64DC97;
    background-color: white;
}

.register__input {
    width: 344px;
    height: 46px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #5f5f5f;
    margin-bottom: 40px;
    padding: 15px;
}

.btn__lower {
    color: #46A87C;
    font-family: NokiaKokia;
    font-weight: 400;
    font-size: 16px;
    margin-top: 60px;
    border: none;
    background: none;
}