@font-face {
    font-family: NokiaKokia;
    src: url('../../../fonts/NokiaKokia(RYS BY LYAJKA).ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Gunterz;
    src: url("../../../fonts/Gunterz-Medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Srbija Sans;
    src: url("../../../fonts/Srbija Sans.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.game__card {
    z-index: 0;
    position: relative;
    background-repeat: no-repeat;
    padding: 22px 22px;
    user-select: none;
    max-width: 350px;
    height: 192px;
    background-color: #334850;
    border-radius: 40px;
    color: #DBEDF3;
    margin-bottom: 50px;
}

.game__card1 {
    background-image: url(../../img/background-card.svg);
}

.game__card2 {
    background-image: url(../../img/background-card2.svg);
}


.game__name {
    z-index: 2;
    font-family: NokiaKokia;
    font-size: 32px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    font-weight: 400;
    line-height: 40px;
    margin: 0 0 40px;
    max-width: 150px;
}

.game__descr {
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 80px;
    font-family: Srbija Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bg__svg {
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.game-hover__div {
    z-index: 1000;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40px;
    background: rgba(51, 72, 80, 0.92);
    width: 395px;
    height: 236px;
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.game__card:hover > .game-hover__div {
    display: flex;
}

.hover__span {
    color: #DBEDF3;
    font-family: Gunterz;
    font-size: 32px;
    font-weight: 500;
    line-height: 125%;
}

.top-icons {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}

.bottom-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 70px;
}

.bottom-icon {
    user-select: none;
    cursor: pointer;
}