.game-container {
    display: flex;
    gap: 2px;
}

.topic-container {
    display: flex;
    flex-direction: column;
}

.game-card-topic {
    background: #2E393D;
    padding: 5px 15px;
    margin: 2px;
    color: #DBEDF3;
    text-align: center;
    font-family: Gunterz;
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.game-card {
    background: #2E393D;
    padding: 5px 15px;
    margin: 2px;
    color: #DBEDF3;
    text-align: center;
    font-family: Gunterz;
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    max-width: 200px;
}

.questions-container {
    display: grid;
}

.string-container {
    display: flex;
}